## compiled code
useDynLib(dixon, .registration = TRUE)

# Export regular functions
export("dixon")

importFrom("stats", "pchisq", "pnorm")
importFrom("splancs", "nndistG")

importFrom("spatstat.geom", "progressreport")

# delete when the dust has settled
import(spatstat)
