## compiled code
useDynLib(dixon)

# Export regular functions
export("dixon")

# Import all packages listed as Imports or Depends
# ToDo: "importFrom" only required functions 
import(
  splancs,
  spatstat
)
